<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGGING_LOGSTASH_HOST:-localhost}:${LOGGING_LOGSTASH_PORT:-5044}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {
                "app":"musicApp",
                "port":"8080",
                "env":"${spring.profiles.active:-dev}",
                "type":"spring-boot"
                }
            </customFields>
            <enableMultiLine>true</enableMultiLine>
        </encoder>
        <keepAliveDuration>5 minutes</keepAliveDuration>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

    <logger name="net.logstash.logback" level="DEBUG" />
    <logger name="io.netty" level="DEBUG" />
    <logger name="ch.qos.logback" level="DEBUG" />

</configuration>